@import "app/src/components/message-list/style"
@import "app/src/chat/style"

.ember-application
  overflow-y: hidden

.initialsAvatar
  width: 100%
  height: 100%
  text-align: center
  padding-top: 11px
