<div class="main">
  <header class="main__header">
    <h1 class="main__h1">@{{recipient.username}}</h1>
    <h4 class="main__h4">message count ({{messages.length}})</h4>
  </header>
  <div class="main__content">
    <div class="main__container">
      <section class="main__section">
        <div class="main__themes">
          {{message-list messages=messages}}
        </div>
      </section>
    </div>
  </div>
  <div class="main__input">
    <form {{action 'sendMessage' on='submit' }}>
      <div class="input-group">
        {{one-way-input placeholder='Write a Message' class='main__share-input' value=value update=(action (mut value))}}
        <span class="btn btn-primary" {{action 'sendMessage'}}>Send</span>
      </div>
    </form>
  </div>
</div>
