<span class="input-group-addon">
  <i class="now-ui-icons {{icon}}"></i>
</span>
{{one-way-input id=value placeholder=placeholder class='form-control' type=type value=value update=(action (mut value))}}

