.messages {
  width: 100%;
  .message {
    padding: 10px 13px;
    margin: 7px;
    display: flex;
    font-size: 14px;
    &:hover {
      background-color: #f1f1f1;
      border-radius: 5px;
    }
    .user-icon {
      position: relative;
      top: 2px;
      margin-right: 7px;
      height: 35px;
      width: 35px;
      border-radius: 4px;
      overflow: hidden;
      flex: 0 0 auto;
      img {
        height: 35px;
        width: auto;
      }
    }
    .body {
      display: inline-block;
      .username {
        font-weight: 700;
        padding-bottom: 3px;
        .date {
          font-weight: 400;
          color: #b6b6b6;
          padding-left: 5px;
        }
      }
      .text {
        color: #252525;
        margin-top: 5px;
      }
    }
  }
}
