{{#each messages as |message|}}
<li class="message">
  <div class="user-icon">{{initials-avatar
    firstName=message.authorUsername
    lastName=(second-letter message.authorUsername)
    color=(user-color message.author)
  }}
  </div>
  <div class="body">
    <div class="username">
      {{message.authorUsername}}
      <span class="date">{{moment-format message.createdAt 'H:mm, MMMM D'}}</span>
    </div>
    <div class="text">{{message.body}}</div>
  </div>
</li>
{{/each}}