html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$white: #fff;
$padding: 18px;
$item-spacing: 8px;

%field {
  //text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #555459;
  padding: 0 0.5rem;
  font-family: "Consolas", monaco, courier, monospace;
}

:root {
  --column-bg: #0D7E83;
  --menu-bg-hover: #076570;
  --active-item: #F79F66;
  --active-item-text: #FFFFFF;
  --hover-item: #D37C71;
  --text-color: #FFFFFF;
  --active-presence: #F79F66;
  --mention-badge: #F15340;
}

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-family: "Lato", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #555459;
  //TODO body overflow
  //overflow: hidden;
}

h1,
h2,
h3,
h4 {
  color: #2C2D30;
}

strong {
  font-weight: 700;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
  cursor: pointer;

  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}

.slack {
  width: 100%;
  height: 100%;
  display: flex;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
  }
}

.team-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: $padding $padding 0;

  &:hover {
    background: var(--menu-bg-hover, #680001);
  }

  &__name {
    font-size: 18px;
    font-weight: 900;
    color: var(--text-color, $white);
  }

  &__status {
    font-size: 15px;
    line-height: 1.8;
    color: var(--text-color, $white);

    &:before {
      content: "";
      display: inline-block;
      margin-right: 0.2rem;
      width: 9px;
      height: 9px;
      background: var(--active-presence, #00FFBA);
      border-radius: 50%;
    }
  }

  &__username {
    opacity: 0.6;
  }

  &__alarm {
    display: flex;
    font-size: 25px;
    color: var(--text-color, $white);
  }
}

.sidebar {
  position: relative;
  z-index: 1;
  width: 250px;
  background: var(--column-bg, #ae0001);
  color: var(--text-color, $white);
}

.threads {
  margin: 0.6rem 0;
  padding: 0 $padding;
  opacity: 0.7;

  &__icon {
    margin-right: 3px;
  }
}

.channels,
.dm {
  margin: 0.5rem 0 1.5rem;
  padding-right: $padding;

  &__button,
  &__heading {
    padding: 0 0 0 $padding;
    width: 100%;
    color: var(--text-color, $white);
    line-height: 1.5;
  }

  &__number {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: 2px;
    font-size: 13px;
    opacity: 0.5;
  }

  &__add {
    font-size: 20px;
    color: var(--text-color, $white);
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.1;
    text-transform: uppercase;
    opacity: 0.6;
  }

  &__button {
    padding: 4px 0 4px $padding;
    display: flex;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;

    span {
      opacity: 0.7;
    }

    &:before {
      padding: 0 0.3rem;
    }

    &:hover {
      background: var(--hover-item, #BE0002);
      text-decoration: none;
    }

    &--active,
    &--active:hover {
      background: var(--active-item, #D3A625);
      color: var(--active-item-text, #680001);
      text-decoration: none;
    }

  }
}

.channels {
  &__button {
    &:before {
      content: "#";
      opacity: 0.5;
    }
  }
}

.dm {
  &__button {
    &:before {
      //content: "\f401";
      //margin-right: 3px;
      //font-family: "Ionicons";
      //font-size: 0.6rem;
      content: "";
      display: inline-block;
      margin-right: 0.2rem;
      width: 9px;
      height: 9px;
      background: var(--active-presence, #00FFBA);
      border-radius: 50%;
    }

    &--online {
      &:before {
        //content: "\f21b";
        //color: var(--active-presence, #00FFBA);
      }
    }

    &--slackbot {
      &:before {
        //content: "\f141";
        //color: var(--active-presence, #00FFBA);
        //font-size: 0.75rem;
      }
    }

    &--active {
      &.dm__button--online,
      &.dm__button--slackbot {
        &:before {
          color: var(--active-item-text, #680001);
        }
      }
    }
  }
}

.main {
  position: relative;
  height: 100%;
  flex: 1;

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: $padding;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    background: $white;
  }

  &__h1 {
    font-size: 1.4rem;
    font-weight: 900;
    padding-left: 2rem;
  }

  &__h2 {
    font-size: 1.5rem;
    font-weight: 900;
  }

  &__h3 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 900;
  }

  &__h4 {
    font-size: 0.9rem;
    font-weight: 400;
    color: #b6b6b6;
    border-left: 1px solid #b6b6b6;
    padding-left: 1rem;
    margin-left: 1rem;

  }

  &__content {
    position: relative;
    top: 9vh;
    height: 84vh !important;
    //overflow-y: scroll;
  }

  &__container {
    padding: 0 2rem;
    margin: 0 auto;
    //width: 55%;
    //max-width: 860px;
    min-width: 400px;
    overflow-y: scroll;
    height: 75vh;
  }

  &__input {
    position: relative;
    height: 10vh;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.15);

    .input-group {
      padding: 7px 7px 0 7px;
    }

    .btn {
      border-radius: 0 .25rem .25rem 0;
    }

    .input-group,
    .btn {
      margin: 0;
      height: 40px;
    }
  }

  &__section {
    padding: 0 0;
    border-bottom: 1px solid #DDD;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  &__field {
    position: relative;
    margin-top: 1rem;
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    padding-right: $padding;

    &--full {
      max-width: initial;
      width: 100%;
      margin-top: 2rem;
    }
  }

  &__label {
    font-weight: 700;
    display: block;
    font-size: 1.05rem;
    line-height: 1.5rem;
  }

  &__color-pickers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
  }

  &__color-field {
    width: 100%;
    display: flex;
    margin-top: 0.25rem;
    border: 1px solid #C5C5C5;
    border-radius: .25rem;
    padding: 0.25rem;
  }

  &__themes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  &__colorpicker {
    visibility: hidden;
  }

  &__hexcode {
    @extend %field;
    flex: 1;
    border: none;
    min-width: 0;

    &:focus {
      outline: none;
    }
  }

  &__share-input {
    @extend %field;
    display: block;
    width: 100%;
    //padding: 0 .75rem;
    //margin: 0.25rem 0 5rem;
    border: 1px solid #C5C5C5;
    border-radius: .25rem 0 0 .25rem;
    height: 40px;
    line-height: 40px;

    &:hover,
    &:focus,
    &:active {
      border-color: #f78a4f;
      outline: none;
    }

    &:focus {
      box-shadow: 0 0 7px rgba(39,128,248,.15);
    }
  }

  &__input-wrapper {
    width: 1.9rem;
    height: 1.9rem;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    border: 1px solid #C5C5C5;
    border-radius: .25rem;
  }
}

.active {
  .dm__button,
  .channels__button {
    background: var(--active-item, #D3A625);
    color: var(--active-item-text, #680001);
  }

  .dm__button:before {
    background: #ffffff;
  }

  &:hover {
    text-decoration: none;
  }
}
