<nav class="navbar navbar-expand-lg bg-primary">
  {{nav-component}}
</nav>
<div class="slack">
  <div class="sidebar">
    <button class="team-menu">
      <div class="team-menu__info">
        <h1 class="team-menu__name">Chat</h1>
        <div class="team-menu__status">
          <span class="team-menu__username">{{currentUser.username}}</span>
        </div>
      </div>
      <span class="team-menu__alarm ion-ios-bell-outline"><i class="fa fa-bell-o"></i></span>
    </button>
    <div class="threads">
      <span class="ion-chatbubble-working threads__icon"></span> All Threads
    </div>
    <div class="channels">
      <h2 class="channels__heading">
        <span>Channels <span class="channels__number">(1)</span>
        </span>
        <button class="ion-ios-plus-outline channels__add"></button>
      </h2>
      <ul class="channels__list">
        <li class="channels__item">
          {{#link-to "chat.index"}}
            <button class="channels__button"><span>general</span></button>
          {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="dm">
      <h2 class="dm__heading">
        <span>Direct messages <span class="dm__number">({{model.length}})</span>
        </span>
        <button class="ion-ios-plus-outline dm__add"></button>
      </h2>
      {{users-list users=model}}
    </div>
  </div>
  {{outlet}}
</div>