<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent">
  {{nav-component}}
</nav>
<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url('../assets/images/login1.jpg')"></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">

        <form {{action 'authenticate' on='submit' }}>
          <div class="content">

            {{ui-input value=email placeholder="Email" icon='users_circle-08'}}

            {{ui-input value=password placeholder="Password" icon='objects_key-25' type='password'}}

          </div>
          <div class="footer text-center">
            <button class="btn btn-primary btn-round btn-lg btn-block" {{action 'authenticate'}}>Login</button>
          </div>

          {{#if errorMessage}}
            <p>{{errorMessage}}</p>
          {{/if}}
        </form>

        <div class="center">
          <h6>
            {{#link-to "signup" class="link"}}Create account{{/link-to}}
          </h6>
        </div>
      </div>
    </div>
  </div>
  {{footer-component}}
</div>

