<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent">
  {{nav-component}}
</nav>
<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url('../assets/images/login1.jpg')"></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
        <form {{action 'authenticate' on='submit' }}>
          <div class="content">
            <div class="input-group form-group-no-border input-lg">
          <span class="input-group-addon">
            <i class="now-ui-icons users_circle-08"></i>
          </span>
              {{one-way-input id='login' placeholder='Login' class='form-control'
                              value=login update=(action (mut login))}}
            </div>

            <div class="input-group form-group-no-border input-lg">
      <span class="input-group-addon">
        <i class="now-ui-icons text_caps-small"></i>
      </span>
              {{one-way-input id='email' placeholder='Email' class='form-control'
                              value=email update=(action (mut email))}}
            </div>

            <div class="input-group form-group-no-border input-lg">
      <span class="input-group-addon">
        <i class="now-ui-icons objects_key-25"></i>
      </span>
              {{one-way-input id='password' placeholder='Password' class='form-control'
                              type='password' value=password update=(action (mut password))}}
            </div>

            <div class="input-group form-group-no-border input-lg">
      <span class="input-group-addon">
        <i class="now-ui-icons objects_key-25"></i>
      </span>
              {{one-way-input id='confirmPassword' placeholder='Conform Password' class='form-control'
                              type='password' value=confirmPassword update=(action (mut confirmPassword))}}
            </div>
          </div>
          <div class="footer text-center">
            <a class="btn btn-primary btn-round btn-lg btn-block" {{action "signup"}}>Get Started</a>
          </div>
          {{#if errorMessage}}
            <p>{{errorMessage}}</p>
          {{/if}}
        </form>

        <div class="center">
          <h6>
            {{#link-to "login" class="link"}}Already have an account?{{/link-to}}
          </h6>
        </div>
      </div>
    </div>
  </div>
  {{footer-component}}
</div>


