<div class="navbar-translate">
  <a class="navbar-brand">
    chat-io
  </a>
  <button class="navbar-toggler navbar-toggler" type="button">
    <span class="navbar-toggler-bar bar1"></span>
    <span class="navbar-toggler-bar bar2"></span>
    <span class="navbar-toggler-bar bar3"></span>
  </button>
</div>
<div class="collapse navbar-collapse justify-content-end has-image">
  <ul class="navbar-nav">
    {{#if session.isAuthenticated}}
      <li class="nav-item"><a href="" class="nav-link"{{action 'invalidateSession'}}>Logout</a></li>
    {{else}}
      <li class="nav-item">{{#link-to "login" class="nav-link"}}Login{{/link-to}}</li>
      <li class="nav-item">{{#link-to "signup" class="nav-link"}}Create Account{{/link-to}}</li>
    {{/if}}
  </ul>
</div>