{{#each users as |user|}}
  <li class="dm__item">
    {{#link-to "chat.user" user.id}}
      <button class="dm__button dm__button--slackbot"><span>{{user.username}}</span></button>
    {{/link-to}}
  </li>
{{/each}}
