<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a >
            Marcin Panek
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      2017, Designed by
    </div>
  </div>
</footer>